/*
 * Estilos reutilizables
 */
.li-nav-link{
    background-color: #18BC9C;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 15px 23px;
}
 .pos-absolute{
   position: absolute;
 }
 .cls-display-flex{
   display: flex;
 }
 .cls-flex-direction{
   flex-direction: row;
 }
 .cls-justify-content{
   justify-content: space-between;
 }
 .cls-align-items{
   align-items: center;
 }
 .cls-wrap{
   flex-wrap: wrap;
 }
 .color-font-blue{
   color: #2c3e50;
 }
 .color-font-white{
   color: #ffffff;
 }
 .hr-border-blue{
   border: 2px solid #2c3e50;
   background: #ffffff;
 }
 .hr-border-white{
     border: 2px solid #ffffff;
 }
 .icon-white{
   background: #18bc9c;
   color: #ffffff;
 }
 .icon-blue{
   background: #ffffff;
   color: #2c3e50;
 }
 .
[class*="col-"]{
  float:left;
}
.col-1{
  width: 8.33333%
}
.col-2{
  width: 16.66666%;
}
.col-3{
  width: 25%;
}
.col-4{
  width: 33.33333%;
}
.col-5{
  width: 41.66666%;
}
.col-6{
  width: 50%;
}
.col-7{
  width: 58.33333%;
}
.col-8{
  width: 66.66666%;
}
.col-9{
  width: 75%;
}
.col-10{
  width: 83.33333%;
}
.col-11{
  width: 91.66666%;
}
.col-12{
  width: 100%;
}
